
body {
	min-height: 100%;
  height: 100%;
  font-size: 19px;
}

.table {
	width: 100% !important;
}


.tr-align-center {
	text-align: center;
}

.container {
  position: relative;
}

.image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.search-area {
  position: :relative;
}

.search-area .fa-search { 
  position: absolute;
  top: 20px;
  right: 210px;
  font-size: 15px;
}

.small-green-button {
  background-color: green;
  color:white;
  width: 100px;
}

.content-header-gray {
  width: 70%;
  height: 40px;
  background-color: lightgray;
  padding: 10px;
  padding-left: 10px;
}

.content-text-area {
  width: 70%;
  height: 250px; 
  margin-top: 10px; 
  resize: none;
  padding: 10px;
}

.nav-bar-background-color {
  background-color:  #1abc9c;
}

.header-nav .nav > li.active > a, .header-nav .nav > li.active > a:focus, .header-nav .nav > li.active > a:hover, .item.item-thumbnail .item-price, .header-logo a span, a {
  color: black;
}

.header-cart {
  color: white;
}

.header-cart i {
  font-size: 20px;
  float: left;
  margin-right: 5px;
  line-height: 20px;
}
.navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 25px;
}

.section-title {
  font-size: 30px !important;
  font-weight: 600;
  margin-right: -5px 0 25px;
  color: #212121;
  text-align: center;
}

.section-container {
  padding: 45px 0;
}

.footer {
  padding: 30px 0;
  font-size: 12px;
  color: black;
  background-color: #1abc9c;
  box-shadow: inset 0 0px 0px 0px;
  padding-bottom: 0px;
}

.footer-copyright {
  font-size: 22px;
  color: black;
  background-color: #1abc9c;
  padding: 15px 0px;
}

.footer-header {
  font-size: 22px;
  color: black;
  font-weight: 700;
  margin: 10px 0 20px;
  letter-spacing: 1px;
}
.footer a {
  color: black;
  font-size: 15px;
}

p {
  margin: 0 0 10px;
  font-size: 15px;
}

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
  font-size: 15px;
}

.copyright {
  font-size: 13px;
  color: black;
  background-color: #1abc9c;
  padding: 15px 0px;
  padding-top: 0px;
}

.affix {
  top: 0;
  width: 100%;
  z-index: 1030;
}

.affix + .container-fluid {
  padding-top: 70px;
}

#page-container {
  height: calc(100% - 430px);
}

.content {
  min-height: 100%;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: #26A69A;
  color:white;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: #26A69A;
  color:white;
}

textarea {
  resize: none;
}

.carousel-inner {
  height: 300px;
}

.carousel-inner img {
  min-height: 300px;
  min-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.preview-description {
  height: 3em;
  line-height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  /*white-space: nowrap;*/
}

.borderless-container{
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  border: none;
}

.container .section-title {
 padding-left: 0px;
 width: 100%;
 padding-right: 0px;
 margin-bottom: 0px;
}

.section-title .store {
  border-bottom: 3px solid red;
  text-align: start;
}

.section-title .product {
  border: 0px;
  border-bottom: 3px solid purple;
  text-align: start;
}

.section-icon-store {
  background-color: red;
  color: white;
  padding: 5px;
}

.section-icon-product {
  background-color: purple;
  color: white;
  padding: 5px;
}

.grid-items {
  padding-right: 0px;
  padding-left: 0px;
}

.section-image {
  width:100%;
  height:540px;
  padding-right: 10px;
}

.promotion-btn {
  background-color: #3498db;
  color: white;
  border-width: 0px;
  font-weight: bold;
}

.btn-yellow , .btn-yellow:focus{
  background-color: #f1c40f;
  color: white;
  font-weight: bold;
}

.btn-buy-blue , .btn-buy-blue:focus{
  background-color: #3498db;
  color: white;
  font-weight: bold;
  width: 98px;
}

.btn-buy-blue:hover {
  color: #3498db;
  background-color: white;
}

.btn-yellow:hover {
  color: #f1c40f;
  background-color: white;
}

.hoverable-white-button {
  color: black;
  background-color: white;
  border-width: 1;
  border-color: lightgray;
}

.section-item:hover .hover-wrapper {
  visibility: visible;
  opacity: 1;
}

.section-item:hover .hover-wrapper .bottom-hover-button{
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.hover-wrapper {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}


.centered-hover-button {
  transition: .5s ease;
  opacity: 1;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.bottom-hover-button {
  transition: .5s ease;
  opacity: 1;
  display: block;
  position: absolute;
  bottom: 10%;
  right: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.wrapper-section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: lightgray;
  opacity: 0.8;
}

.map-view {
  width:400px;
  height:300px;
  background:lightgray;
  margin-bottom: 20px;
}

.padding-wrapper {
  padding: 40px;
}

.product-image {
  max-width:300px;
  max-height:300px;
  padding: 30px;
  padding-right: 0px;
}

.user-review-image {
  width: 50px;
  height: 50px;
}

.product-detail-title {
  margin-top: 30px;
  text-align: start;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
  font-weight: bold;
}

.justify-text {
  text-align: justify;
}

.float-right {
  float: right;
}

.align-left {
  text-align: left;
}

#modal_id_input {
  width: 100%;
}

.mt-comment {
  padding: 10px;
  margin: 0 0 10px;
}

.mt-comment-info {
  display: table;
  width: 100%;
}

.mt-comment-img {
  width: 40px;
  float: left;
}

.mt-comment-body {
  padding-left: 20px;
  position: relative;
  overflow: hidden;
}

.mt-comment-author {
  display: inline-block;
  float: left;
  margin: 0 0 10px;
  color: #060606;
  font-weight: 600;
}

.mt-comment-date {
  display: inline-block;
  float: right;
  margin: 0;
  color: #BABABA;
}

.mt-comments .mt-comment .mt-comment-body .mt-comment-text {
  color: #a6a6a6;
}

.mt-comments .mt-comment .mt-comment-body .mt-comment-details {
  margin: 10px 0 0;
}

.mt-comments .mt-comment .mt-comment-body .mt-comment-details .mt-comment-actions {

  margin: 0;
  padding: 0;
  float: right;
}

.mt-comments .mt-comment .mt-comment-body .mt-comment-details .mt-comment-actions>li {
  float: left;
  padding: 0 5px;
  margin: 0;
}

.tab-content>.active {
  display: block;
}

.login-buttons  {
  margin-top: 10px;
}

.justify-text {
  text-align: justify;
}

.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
}

.search input {
  width: 250px !important;
  height: 39px;

  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.search input { 
  text-indent: 5px;
}

.search .fa-search { 
  position: absolute;
  top: 12px;
  right: 15px;
}

.dropdown-menu.dropdown-menu-cart {
  left: auto;
  right: 0;
  margin-right: -110px;
  width: 360px;
}

.dropdown-menu {
  width: 100%;
}

.f-14 {
  font-size: 14px;
}

.news-and-events-image {
  width: 340px; 
  height: 200px;
}

.news-and-events-date {
  line-height: 22px;
  margin-left: 58%;
}

.news-and-events-line-height {
  line-height: 22px;
}

.news-and-events-pagination {
  margin-left: 28px;
}

.cart-qty-input .form-control {
  width: 44px;
}

.item.item-thumbnail.borderless {
  border:none;
}

.product-info, .cart-price, .cart-total {
  font-size: 14px;
  color: black;
}

.summary-container .summary-row.total {
  border-top: 0px;
  margin-top: 0px;
}

#hover-area {
  height: 254px;
}

.text-align-right {
  text-align: right;
}

.search-result-title {
  font-size: 30px !important;
  font-weight: 600;
  color: #212121;
}

.medium-size-text {
  font-size: 14px;
  font-weight: 600;
}

.size-18 {
  font-size: 20px;
}

.container-hp {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.text-banner {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 9px 12px; 
}

.ngp-logo {
  width: 350px
}
.resp-label {

}
.resp-text {

}
.mar-right {
  
}
@media only screen 
and (min-device-width : 1200px) { 
  .container-hp {
    width: 1380px;
  }
  .ngp-logo {
    width: 350px
  }

}

@media (max-width: 767px) {
  .navbar-collapse {
    position: unset;
    left: 0;
    right: 0;
    top: 60px;
    background: #fff;
    padding: 0 30px;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.15);
    box-shadow: 0 2px 2px rgba(0,0,0,.15);
  }
  .ngp-logo {
    width: 200px
  }

  .header-cart {
    color: #1abc9c;
  }

  .header-cart i {
    font-size: 20px;
    float: right;
    line-height: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
  }
  
  .google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
  }
  .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  .product-info .desc {
    display: none;
  }

  .table.table-cart .cart-product .product-img {
    float: left;
    width: 90px;
  }
  .resp-label {
    margin-left: 15px;
  }
  .resp-text {
    width: 340px;
    margin-left: 15px;
  }
  .summary-container .summary-row.total {
    border-top: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  .checkout-body, .checkout-footer, .checkout-header {
     padding: unset; 
  }
  .mar-right {
    margin-right: 18px;
  }
}